<div class="jumbotron text-center">
    <h1>Manage Subscriptions</h1>
</div>

<div class="container" style="padding-bottom: 15px;">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" ng-click="vm.addClientTicket()">Add new subscription</button>
        <table datatable="ng" class="table table-bordered">
            <thead>
                <tr>
                    <th>Client name</th>
                    <th>ClientTicket</th>
                    <th>Purchase Date</th>
                    <th>Remaining Entries</th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="clientTicket in vm.clientTickets">
                    <td>{{clientTicket.client.name}}</td>
                    <td>{{clientTicket.ticket.name}}</td>
                    <td>{{clientTicket.purchaseDate | date:'yyyy.M.dd'}}</td>
                    <td>{{clientTicket.remainingEntries}}</td>
                    <td>
                        <button class="btn btn-danger" type="button" ng-click="vm.deleteClientTicket(clientTicket.id)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-warning" type="button" ng-click="vm.editClientTicket(clientTicket)">
                            <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>